/* ApplicationApplySection.jsx */

input {
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 1px solid #efbdf3;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid rgb(255, 180, 192);
}
